In [1]:
import networkx as nx

Nodes

In [5]:
G = nx.Graph()

In [6]:
G.add_node(1)

In [7]:
G.add_nodes_from([2,3])

In [8]:
G.add_nodes_from([
    (4, {"color": "red"}),
    (5, {"color": "green"}),
])

In [9]:
H = nx.path_graph(10)

In [10]:
G.add_nodes_from(H)

In [11]:
G

Edges

In [12]:
G.add_edge(1,2)

In [13]:
e = (2,3)
G.add_edge(*e)

In [14]:
G.add_edges_from([(1,2),(1,3)])

In [15]:
G.add_edges_from(H.edges)

In [16]:
G.clear()

In [17]:
G.add_edges_from([(1, 2), (1, 3)])
G.add_node(1)
G.add_edge(1, 2)
G.add_node("spam")        # adds node "spam"
G.add_nodes_from("spam")  # adds 4 nodes: 's', 'p', 'a', 'm'
G.add_edge(3, 'm')

In [19]:
G.number_of_nodes()

8

In [20]:
G.number_of_edges()

3

In [21]:
G.nodes

NodeView((1, 2, 3, 'spam', 's', 'p', 'a', 'm'))

In [22]:
G.edges

EdgeView([(1, 2), (1, 3), (3, 'm')])

In [26]:
list(G.neighbors(1))

[2, 3]

In [27]:
G.degree[1]

2

In [28]:
G.edges([2,'m'])

EdgeDataView([(2, 1), ('m', 3)])

In [29]:
G.degree([2,3])

DegreeView({2: 1, 3: 2})

In [30]:
G.add_edge(7,10)

In [32]:
G.nodes

NodeView((1, 2, 3, 'spam', 's', 'p', 'a', 'm', 7, 10))

In [ ]:
import pandas as pd

In [34]:
data = pd.read_csv('teams_data.csv')
data

                      Club   Elo
0               1 Man City  2047
1            2 Real Madrid  1972
2              3 Liverpool  1957
3                 4 Bayern  1952
4                  5 Inter  1945
..                     ...   ...
626            FCB Magpies   860
627  Atletic Club Escaldes   846
628                 Cosmos   697
629              Tre Penne   686
630             La Fiorita   666

[631 rows x 2 columns]

In [37]:
sample = data.sample(20).reset_index(drop=True)

In [38]:
sample

                  Club   Elo
0            Cartagena  1463
1              Ajaccio  1432
2               Osijek  1375
3           Djurgården  1393
4            Cukaricki  1249
5               Widzew  1304
6           הפועל חיפה  1368
7             Radomlje  1177
8    Levski Krumovgrad  1161
9            Magdeburg  1432
10            Nijmegen  1480
11       21 RB Leipzig  1808
12            39 Lille  1727
13       Flora Tallinn  1131
14        Gaziantep FK  1330
15  Universitatea Cluj  1269
16               Lecco  1339
17      ბათუმის დინამო  1178
18            Waalwijk  1376
19             Ham-Kam  1290

In [61]:
G.clear()

for row1 in sample.iterrows():
    for row2 in sample.iterrows():
        row1_data = row1[1]
        row2_data = row2[1]
        weight = abs(row1_data.Elo - row2_data.Elo)
        
        if row1_data.Club != row2_data.Club:
            G.add_edge(row1_data.Club, row2_data.Club, weight = weight)

In [62]:
G.edges()

EdgeView([('Cartagena', 'Ajaccio'), ('Cartagena', 'Osijek'), ('Cartagena', 'Djurgården'), ('Cartagena', 'Cukaricki'), ('Cartagena', 'Widzew'), ('Cartagena', 'הפועל חיפה'), ('Cartagena', 'Radomlje'), ('Cartagena', 'Levski Krumovgrad'), ('Cartagena', 'Magdeburg'), ('Cartagena', 'Nijmegen'), ('Cartagena', '21 RB Leipzig'), ('Cartagena', '39 Lille'), ('Cartagena', 'Flora Tallinn'), ('Cartagena', 'Gaziantep FK'), ('Cartagena', 'Universitatea Cluj'), ('Cartagena', 'Lecco'), ('Cartagena', 'ბათუმის დინამო'), ('Cartagena', 'Waalwijk'), ('Cartagena', 'Ham-Kam'), ('Ajaccio', 'Osijek'), ('Ajaccio', 'Djurgården'), ('Ajaccio', 'Cukaricki'), ('Ajaccio', 'Widzew'), ('Ajaccio', 'הפועל חיפה'), ('Ajaccio', 'Radomlje'), ('Ajaccio', 'Levski Krumovgrad'), ('Ajaccio', 'Magdeburg'), ('Ajaccio', 'Nijmegen'), ('Ajaccio', '21 RB Leipzig'), ('Ajaccio', '39 Lille'), ('Ajaccio', 'Flora Tallinn'), ('Ajaccio', 'Gaziantep FK'), ('Ajaccio', 'Universitatea Cluj'), ('Ajaccio', 'Lecco'), ('Ajaccio', 'ბათუმის დინამო'), ('Ajaccio', 'Waalwijk'), ('Ajaccio', 'Ham-Kam'), ('Osijek', 'Djurgården'), ('Osijek', 'Cukaricki'), ('Osijek', 'Widzew'), ('Osijek', 'הפועל חיפה'), ('Osijek', 'Radomlje'), ('Osijek', 'Levski Krumovgrad'), ('Osijek', 'Magdeburg'), ('Osijek', 'Nijmegen'), ('Osijek', '21 RB Leipzig'), ('Osijek', '39 Lille'), ('Osijek', 'Flora Tallinn'), ('Osijek', 'Gaziantep FK'), ('Osijek', 'Universitatea Cluj'), ('Osijek', 'Lecco'), ('Osijek', 'ბათუმის დინამო'), ('Osijek', 'Waalwijk'), ('Osijek', 'Ham-Kam'), ('Djurgården', 'Cukaricki'), ('Djurgården', 'Widzew'), ('Djurgården', 'הפועל חיפה'), ('Djurgården', 'Radomlje'), ('Djurgården', 'Levski Krumovgrad'), ('Djurgården', 'Magdeburg'), ('Djurgården', 'Nijmegen'), ('Djurgården', '21 RB Leipzig'), ('Djurgården', '39 Lille'), ('Djurgården', 'Flora Tallinn'), ('Djurgården', 'Gaziantep FK'), ('Djurgården', 'Universitatea Cluj'), ('Djurgården', 'Lecco'), ('Djurgården', 'ბათუმის დინამო'), ('Djurgården', 'Waalwijk'), ('Djurgården', 'Ham-Kam'), ('Cukaricki', 'Widzew'), ('Cukaricki', 'הפועל חיפה'), ('Cukaricki', 'Radomlje'), ('Cukaricki', 'Levski Krumovgrad'), ('Cukaricki', 'Magdeburg'), ('Cukaricki', 'Nijmegen'), ('Cukaricki', '21 RB Leipzig'), ('Cukaricki', '39 Lille'), ('Cukaricki', 'Flora Tallinn'), ('Cukaricki', 'Gaziantep FK'), ('Cukaricki', 'Universitatea Cluj'), ('Cukaricki', 'Lecco'), ('Cukaricki', 'ბათუმის დინამო'), ('Cukaricki', 'Waalwijk'), ('Cukaricki', 'Ham-Kam'), ('Widzew', 'הפועל חיפה'), ('Widzew', 'Radomlje'), ('Widzew', 'Levski Krumovgrad'), ('Widzew', 'Magdeburg'), ('Widzew', 'Nijmegen'), ('Widzew', '21 RB Leipzig'), ('Widzew', '39 Lille'), ('Widzew', 'Flora Tallinn'), ('Widzew', 'Gaziantep FK'), ('Widzew', 'Universitatea Cluj'), ('Widzew', 'Lecco'), ('Widzew', 'ბათუმის დინამო'), ('Widzew', 'Waalwijk'), ('Widzew', 'Ham-Kam'), ('הפועל חיפה', 'Radomlje'), ('הפועל חיפה', 'Levski Krumovgrad'), ('הפועל חיפה', 'Magdeburg'), ('הפועל חיפה', 'Nijmegen'), ('הפועל חיפה', '21 RB Leipzig'), ('הפועל חיפה', '39 Lille'), ('הפועל חיפה', 'Flora Tallinn'), ('הפועל חיפה', 'Gaziantep FK'), ('הפועל חיפה', 'Universitatea Cluj'), ('הפועל חיפה', 'Lecco'), ('הפועל חיפה', 'ბათუმის დინამო'), ('הפועל חיפה', 'Waalwijk'), ('הפועל חיפה', 'Ham-Kam'), ('Radomlje', 'Levski Krumovgrad'), ('Radomlje', 'Magdeburg'), ('Radomlje', 'Nijmegen'), ('Radomlje', '21 RB Leipzig'), ('Radomlje', '39 Lille'), ('Radomlje', 'Flora Tallinn'), ('Radomlje', 'Gaziantep FK'), ('Radomlje', 'Universitatea Cluj'), ('Radomlje', 'Lecco'), ('Radomlje', 'ბათუმის დინამო'), ('Radomlje', 'Waalwijk'), ('Radomlje', 'Ham-Kam'), ('Levski Krumovgrad', 'Magdeburg'), ('Levski Krumovgrad', 'Nijmegen'), ('Levski Krumovgrad', '21 RB Leipzig'), ('Levski Krumovgrad', '39 Lille'), ('Levski Krumovgrad', 'Flora Tallinn'), ('Levski Krumovgrad', 'Gaziantep FK'), ('Levski Krumovgrad', 'Universitatea Cluj'), ('Levski Krumovgrad', 'Lecco'), ('Levski Krumovgrad', 'ბათუმის დინამო'), ('Levski Krumovgrad', 'Waalwijk'), ('Levski Krumovgrad', 'Ham-Kam'), ('Magdeburg', 'Nijmegen'), ('Magdeburg', '21 RB Leipzig'), ('Magdeburg', '39 Lille'), ('Magdeburg', 'Flora Tallinn'), ('Magdeburg', 'Gaziantep FK'), ('Magdeburg', 'Universitatea Cluj'), ('Magdeburg', 'Lecco'), ('Magdeburg', 'ბათუმის დინამო'), ('Magdeburg', 'Waalwijk'), ('Magdeburg', 'Ham-Kam'), ('Nijmegen', '21 RB Leipzig'), ('Nijmegen', '39 Lille'), ('Nijmegen', 'Flora Tallinn'), ('Nijmegen', 'Gaziantep FK'), ('Nijmegen', 'Universitatea Cluj'), ('Nijmegen', 'Lecco'), ('Nijmegen', 'ბათუმის დინამო'), ('Nijmegen', 'Waalwijk'), ('Nijmegen', 'Ham-Kam'), ('21 RB Leipzig', '39 Lille'), ('21 RB Leipzig', 'Flora Tallinn'), ('21 RB Leipzig', 'Gaziantep FK'), ('21 RB Leipzig', 'Universitatea Cluj'), ('21 RB Leipzig', 'Lecco'), ('21 RB Leipzig', 'ბათუმის დინამო'), ('21 RB Leipzig', 'Waalwijk'), ('21 RB Leipzig', 'Ham-Kam'), ('39 Lille', 'Flora Tallinn'), ('39 Lille', 'Gaziantep FK'), ('39 Lille', 'Universitatea Cluj'), ('39 Lille', 'Lecco'), ('39 Lille', 'ბათუმის დინამო'), ('39 Lille', 'Waalwijk'), ('39 Lille', 'Ham-Kam'), ('Flora Tallinn', 'Gaziantep FK'), ('Flora Tallinn', 'Universitatea Cluj'), ('Flora Tallinn', 'Lecco'), ('Flora Tallinn', 'ბათუმის დინამო'), ('Flora Tallinn', 'Waalwijk'), ('Flora Tallinn', 'Ham-Kam'), ('Gaziantep FK', 'Universitatea Cluj'), ('Gaziantep FK', 'Lecco'), ('Gaziantep FK', 'ბათუმის დინამო'), ('Gaziantep FK', 'Waalwijk'), ('Gaziantep FK', 'Ham-Kam'), ('Universitatea Cluj', 'Lecco'), ('Universitatea Cluj', 'ბათუმის დინამო'), ('Universitatea Cluj', 'Waalwijk'), ('Universitatea Cluj', 'Ham-Kam'), ('Lecco', 'ბათუმის დინამო'), ('Lecco', 'Waalwijk'), ('Lecco', 'Ham-Kam'), ('ბათუმის დინამო', 'Waalwijk'), ('ბათუმის დინამო', 'Ham-Kam'), ('Waalwijk', 'Ham-Kam')])

In [63]:
G['Waalwijk']['Ham-Kam']

{'weight': 86}

In [67]:
nx.algorithms.matching.min_weight_matching(G)

{('21 RB Leipzig', '39 Lille'),
 ('Cartagena', 'Nijmegen'),
 ('Cukaricki', 'Universitatea Cluj'),
 ('Gaziantep FK', 'Lecco'),
 ('Levski Krumovgrad', 'Flora Tallinn'),
 ('Magdeburg', 'Ajaccio'),
 ('Osijek', 'הפועל חיפה'),
 ('Waalwijk', 'Djurgården'),
 ('Widzew', 'Ham-Kam'),
 ('ბათუმის დინამო', 'Radomlje')}